mutt/cache
mutt/personal/
mutt/sig
mutt/temp
mutt/offlineimap.pyc
tmux/.config/tmux/plugins/*
!tmux/.config/tmux/plugins/tpm
zsh/local*
vim/bundle/
third_party/*

nvim/.config/nvim/lua/personal-projects/
